$font-color: #000;
$light-gray: #6d6d6d;

.hello{
  color: $font-color;
  .todoChecked{
    text-decoration: line-through;
  }
  li{
    list-style: none;
    .highlight{
      background-color: $light-gray;
    }
  }
}
